employee-hosted-config/bin
employee-hosted-config/obj
employee-hosted-infrastructure/bin
employee-hosted-infrastructure/obj
employee-hosted-model/bin
employee-hosted-model/obj
employee-hosted-service/bin
employee-hosted-service/obj
